
/* unvisited link */
.link:link {
    color: var(--global-theme-color);
    text-decoration: none;
}

/* mouse over link */
.link:hover {
    color: var(--global-hover-color);
    text-decoration: none;
}